@import 'reset';

body {
    font-family: 'Lato', sans-serif;
}

.menu {
    padding: 0.5rem;

    &__item {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__link {
        text-decoration: none;
    }
}

.tabs {
    max-width: 800px;
    width: 100%;
    padding: 0.5rem;

    &--js {
        .tabs-header {
            display: flex;
            margin-bottom: 0.5rem;

            @media (max-width: 650px) {
                flex-direction: column;
            }

            &__link {
                flex: 1 1;
                padding: 1rem 0;
                font-size: 1.1em;
                font-weight: 700;
                text-align: center;
                color: #eceff1;
                background: linear-gradient(to bottom, #90a4ae 0%, #78909c 100%);
                box-shadow: inset 0 1px #cfd8dc, 0 1px 2px rgba(0, 0, 0, 0.2);
                text-decoration: none;

                &:not(:last-child) {
                    margin-right: 0.5rem;

                    @media (max-width: 650px) {
                        margin-right: 0;
                        margin-bottom: 0.5rem;
                    }
                }

                &:hover {
                    background: linear-gradient(to bottom, #b0bec5 0%, #90a4ae 100%);
                    box-shadow: inset 0 1px #eceff1, 0 2px 3px rgba(0, 0, 0, 0.2);
                }

                &--active, &:active {
                    color: #cfd8dc;
                    background: linear-gradient(to bottom, #78909c 0%, #546e7a 100%) !important;
                }
            }
        }

        .tabs-content__item {
            display: none;

            &--active {
                display: block;
            }
        }
    }

    &--no-js {
        .tabs-header {
            display: none;
        }
    }

    &-content__item {
        padding: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.15em;
        line-height: 1.2em;
        text-align: justify;
        background: #efefef;
        color: #333333;
    }
}